.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 64px;
  background-color: #f9f8f6;
  color: #050402;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: 100px;
  width: 100%;
}

.header-title {
  font-size: 2.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 26px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s, transform 0.2s;
  font-size: 1.1rem;
}

.nav-links li:hover {
  color: #383d4d;
  transform: translateY(-2px);
}

.cart-button {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #175b1d;
  color: white;
  font-size: 0.8rem;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    height: auto; /* Make height auto for mobile devices */
    padding: 16px; /* Adjust padding for smaller screens */
  }

  .nav-links {
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
  }

  .nav-links li {
    font-size: 1.3rem; /* Increased font size for better readability */
    font-weight: 600; /* Slightly heavier font weight for emphasis */
  }
}
